
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}
:root {
  --pink: #f7b5ca;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  height: 100px;
}

header .logo img {
  display: inline-block;
  width: 15rem;
  height: auto;
}

header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #666;
  transition: 0.2s;
  text-transform: capitalize;
}

header .navbar a:hover {
  color: var(--pink);
}

header .icons a {
  font-size: 2.5rem;
  color: #333;
  margin-left: 1.5rem;
}

header .icons a:hover {
  color: var(--pink);
}

header #toggler {
  display: none;
}

header .fa-bars {
  font-size: 3rem;
  color: #333;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  display: none;
}

@media (max-width: 768px) {
  header .fa-bars {
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.3s ease;
  }

  header #toggler:checked ~ .navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    background: #fff;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
.shopping-cart {
  position: absolute;
  top: 100%;
  right: 0;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  background-color: #eee;
  color: #333;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1001;
}
.shopping-cart.active {
  transform: translateX(0);
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  justify-content: flex-start;
  border-bottom: 1px dashed #f7b5ca;
  position: relative;
}
.shopping-cart .item-info {
  padding-right: 4rem;
}
.shopping-cart img {
  height: 6rem;
  border-radius: 50%;
}
.shopping-cart h3 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
  padding-right: 4rem;
}
.shopping-cart .harga {
  font-size: 1.2rem;
}
.shopping-cart .hapus {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
.shopping-cart .hapus:hover {
  color: #f7b5ca;
}

#cart-count {
  position: absolute;
  top: -0.4rem;
  right: -0.4rem;
  background: red;
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1;
}
#heart-count {
  position: absolute;
  top: -0.4rem;
  right: -0.4rem;
  background: red;
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1;
}
header .icons a {
  font-size: 2.5rem;
  color: #333;
  margin-left: 1.5rem;
  position: relative;
}
header .icons a.fas.fa-shopping-cart {
  position: relative;
}
header .icons a:hover {
  color: var(--pink);
}
header #toggler {
  display: none;
}
header .fa-bars {
  font-size: 3rem;
  color: #333;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  display: none;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bgdindasalon.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Nilai alpha diubah ke 0.5 */
  z-index: 1;
}

section {
  position: relative;
  z-index: 3;
  padding-top: 120px;
  padding-bottom: 50px;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header h2 {
  color: #fff;
  font-weight: bold;
  font-size: 4em;
  margin-bottom: 20px;
  text-shadow:
    0 0 8px #f72828,
    0 0 16px #ff00f7,
    0 0 24px #92008d,
    0 0 32px #fff;
}

.section-header p {
  color: #fff;
  font-size: 1.5em;
  font-weight: bolder;
  text-shadow:
    0 0 8px #b10000,
    0 0 16px #880083,
    0 0 24px #fe58f9,
    0 0 32px #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #f7b5ca;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
  color: #fff;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #1da9c0;
  font-size: 1.3em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #fff;
  font-size: 1em;
}

.contact-form {
  background-color: #fff;
  padding: 30px;
  width: 47%;
  padding-bottom: 20px;
  padding-top: 20px;
  transform: translateX(3px);
}

.contact-form h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: relative;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateX(-20px);
}

.contact-form .input-box input[type="submit"] {
  width: 100%;
  background: #ff69b4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover {
  background: #ff3385;
  color: #fff;
}

@media (max-width: 991px) {
  .row {
    flex-direction: column;
  }

  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }

  .contact-form {
    width: 100%;
  }
}
